{self, config, ...}:{
  imports = [
    ./containerDefault.nix
  ];
  age.secrets = {
    wg{{ name }} = {
      rekeyFile = self + "/secrets/containers/{{ name }}/wireguard.age";
      group = "systemd-network";
      mode = "770";
      generator = {
        script = "wireguard";
        tags = [ "wireguard" ];
      };
    };

  };
  systemd.network.netdevs.wg{{ name }} = {
    enable = false;
    netdevConfig = {
      Kind = "wireguard";
      Name = "wg{{ name }}";
    };
    wireguardConfig = {
      PrivateKeyFile = config.age.secrets.wg{{ name }}.path;
    };
  };
  containers.{{ name }} = {
    privateNetwork = true;
    restartIfChanged = true;
    autoStart = true;
    localAddress = "/16";
    hostBridge = "brCont";
    interfaces = [
      "wg{{name}}"
    ];
    bindMounts = {
    };
    tmpfs = [
    ];
    config = {...}: {
      networking = {
      	firewall = {
	  allowedTCPPorts = [];
	  allowedUDPPorts = [];
	};
      };
      imports = [
        ./containerDefault.nix
      ];
    };
  };
}
